 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I hold a Master of Science in Information Systems degree and a B.Tech degree (Electronics and Communication Engineering). I am an avid programmer in the languages of Python, Java, PHP, CSS, and HTML. I have also worked as an analyst with experience in data and business analysis. I have worked as a programmer and technical content writer for technology companies such as 'Infinite Linked Solutions', and the educational 'Chalkstreet'. I am a published author with fictional works, including 'Sorry Secrets', a collection of poems and short stories - with content widely circulated and distributed by leading publishers and magazines in India. I have years of experience with both the routinized and the creative, having trained myself with skills that integrate the left and right hemispheres of the brain. I am dedicated, pliable, and a quick-learning autodidact. </p>
                </div>
                <div class="col-lg-4">
                    <p>I am an entrepreneur and founder of two government-registered organizations that operate successfully in my home country. Equipped with confidence and the ability to lead and direct, I am an eloquent speaker and a perseverant learner. My love for knowledge, programming, penmanship, and oration, is backed by numerous awards, medals, and certificates that I earned during my undergrad years. I have performed numerous projects in Data Analysis, Finance and Business, and Systems Analysis. When not learning a new programming language or working on a new novel, I practice daily meditation, mindfulness, yoga, and reading. I also exploit any free time to quench my wanderlust and visit as much of the world as possible. I am currently searching for full-time job opportunities in the Greater New York City Area.</p>
                </div>
            </div>
        </div>
    </section>
